header {
    background-color: rgb(255, 42, 42);
}

body {
    background-color: grey;
}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h1 {
    font-size: 40px;
}

ul .Header {
    list-style-type: none;
    float: right;
    font-size: 20px;
    padding-right: 30px;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

#img3 {
    position: relative;
    left: 400px;
    bottom: 340px;
}
#ContactMe {
    background-color: rgb(255, 42, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

#ContactMe ul {
    font-size: 20px;
    padding-right: 30px;
}
